<div class="row">
	<div class="navbar-text navbar-right pull-right">
    	<%= link_to("New Developer", new_developer_path, role: "button", class: "btn btn-primary btn-small")%>
 	</div>
</div>


<div class="row">
  <br></br>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>


  

  <table border='1' class="table table-bordered table-striped">
    <tr>
      <th class="active"><b>Name</b></th>
      <th class="active"><b>Email</b></th>
      <th class="active"><b>Project Name</b></th>
      <th class="active"><b>Delete</b></th>
    </tr>

    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name%></td>
        <td><%= developer.email%></td>       
        <td><%= developer.project.try(:name)%></td>
        <td><%= link_to 'Delete Developer', developer_path(developer),
                    method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button"  %></td>
      </tr>
    <% end %>
  </table>
</div>







