<h1>Story Board</h1>
<hr>
<br>
<% @projects.each do |project|%>
<div class="container">
  <div class="row">
    <div class="col col-lg-6 col-lg-6">
    <h3><%= project.name %></h3>
      <div class="well">
      <hr>
      <h4>Incomplete Stories</h4>
      <table border='0' class="table table-striped">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Points</th>
            <th>Stage</th>
          </tr>
          <% project.stories.incomplete.each do |story|%>
            <tr>
              <td><%= story.name%></td>
              <td><%= story.description%></td>
              <td><%= story.points%></td>
              <td><%= STAGES.invert[story.stage]%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>
      <h4>Completed Stories</h4>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Points</th>
            <th>Stage</th>
          </tr>
          <%project.stories.complete.each do |story|%>
            <tr>
              <td><%= story.name%></td>
              <td><%= story.description%></td>
              <td><%= story.points%></td>
              <td><%= STAGES.invert[story.stage]%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div>
      
      <div class="col col-lg-6 col-sm-6">
      <br/><br/><br/>
        <div class="well">
        <h4>Summary</h4>
        <table  border='0' class="table">
          <tbody>
            <tr>
              <th>
                Stage
          </th>
              <th>
                Total Points
          </th>
            </tr>
            <% project.summary.each do |stage, total|%>
              <tr>
                <td><h4><span class="label label-default"><%= STAGES.invert[stage]%></span></h4></td>
                <td><h4><label><%= total%></label></h4></td>
              </tr>
            <%end%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

<% end %>
