<h1>Project List</h1>

		
			<br></br>

			<% if flash[:notice] %>
   				 <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  			<% end %>
 			<% if flash[:alert] %>
   				 <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  			<% end %>

			<%if current_user.is_admin?%>
			
			<div class="row pull-right">
				<%= link_to("New Project", new_project_path, role: "button", class: "btn btn-primary btn-small")%>				
			</div>

			<% end %>
			<div class="row">
			<br></br>
				
			
			<table border='1' class="table table-bordered table-striped">
				<tr>
					<th class="active"><b>Title</b></a></th>
					<th class="active"><b>Description</b></th>
					<%if current_user.is_admin?%>
					<th class="active"><b>Add/Remove Developers</b></th>
					<%end%>
					<th class="active"><b>Stories</b></th>
				
				</tr>

				<% if !@projects.nil? then @projects.each do |project| %>
				<tr>
					<td><%= link_to(project.name, project_path(project))%></td>
					<td><%=project.description%></td>
					<%if current_user.is_admin?%>
					<td><%= link_to("Add/Remove Developers", edit_assign_developers_project_path(project))%></td>
					<%end%>
					<td><%= link_to("View Stories", project_stories_path(project))%></td>
				</tr>
				<% end %>
				<% end %>
		
			</table>

			</div>