<%= form_for [current_project, @story], html: {class: "col-md-6"} do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name%><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
     <%= f.label :stage %><br />
     <%= f.select(:stage, options_for_select([['a','a'],['b','b'],['c','c']]), {}, {class: "form-control"} )%>
  </div>

  <div class="form-group">
    <%= f.label :points %><br />
    <%= f.number_field :points, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Show', project_story_path(current_project, @story) ,role: "button", class: "btn btn-primary"%> 
    <%= link_to 'Back', project_stories_path(current_project, @story) ,role: "button", class: "btn btn-default"%>
  </div>

<% end %>
