<div class="row">
<div class="nav">
  <h3><%=current_project.name%></h3>  
</div>

<div class="col-lg-9">
  <br/>
  <div class="input-group">
    <%= form_tag search_project_stories_path(current_project), :method => 'get' do %>
  
    <%= text_field_tag :query, params[:query],  class: "form-control", placeholder: "Search for..."%>
    <span class="input-group-btn">
    <%= submit_tag "Go!", :name => nil, class: "btn btn-default"  %>
    </span> 
  
<% end %>
    
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->

<div class="col-lg-3">
  <div class="navbar-text navbar-right">
    <%= link_to("New Story", new_project_story_path, role: "button", class: "btn btn-primary btn-small")%>
      
        <a href="#" role="button" class="btn btn-info btn-small">StoryBoard</a>
  </div>
</div><!-- /.row -->
</div>


<div class="row">
  <br></br>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>


  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><%=link_to("All", project_stories_path)%></li>
    <li role="presentation"><%=link_to("Assigned", project_stories_path({scope: "assigned"}) )%></li>
    <li role="presentation"><%=link_to("Sign UP", project_stories_path({scope: "signup"}) )%></li>
  </ul>

  <table border='1' class="table table-bordered table-striped">
    <tr>
      <th class="active"><b>Name</b></th>
      <th class="active"><b>Description</b></th>
      <th class="active"><b>Points</b></th>
      <th class="active"><b>Signed-up Developers</b></th>
      <th class="active"><b>Stage</b></th>
      <th class="active"><b>Assigned Stories</b></th>
    </tr>

    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to(story.name, project_story_path(current_project, story))%></td>
        <td><%=story.description%></td>
        <td><%=story.points%></td>
        <td><%=story.signup_user ? story.signup_user.name : "" %></td>
        <td><%=story.stage%></td>
        <td>
          <%if story.developers.exists?(current_user.id)%>
            <%= link_to("UnAssign", assign_project_story_path(current_project, story, {story: {assign: 0}}))%>  
          <%else%>
            <%= link_to("Assign", assign_project_story_path(current_project, story, {story: {assign: 1}}))%>
          <%end%>
          

         
        </td>
      </tr>
    <% end %>
  </table>
  <%= render "stories/pagination"%>
</div>









