<h1>Stories List</h1>

<h2> <% current_project.name  %> </h2>
<% @stories.each do |story| %>
 	<tr>
        <td><%=story.name%></td>
	    <td><%=story.description%></td>
	    <td><%=story.points%></td>
	    <td><%=story.developers.map{|d|d.name}.join(',')%></td>
	    <td><%=story.signup_user.name%></td>
	    <td><%=story.stage%></td>
	</tr>
<% end %>
     
