<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pull-left">
        <h2>Story Board</h2>
      </div>
      <div class="col-md-6">
        <div class="navbar-text navbar-right">
          <ul class="nav nav-pills">
            <% if current_user.is_admin? %>
              <li role="presentation" class=<%=controller.class == ProfilesController ? "active" : ""%> ><%= link_to("Dashboard", dashboard_path)%></li>
              <li role="presentation" class=<%=controller.class == ProjectsController ? "active": ""%>><%= link_to("Projects", projects_path)%></li>
              <li role="presentation" class=<%=controller.class == AdminsController ? "active": ""%>><%= link_to("Admins", admins_path)%></li>
              <li role="presentation" class=<%=controller.class == DevelopersController ? "active" : ""%> ><%= link_to("Developers", developers_path)%></li>
              <li role="presentation" class=<%=controller.class == StoryboardsController ? "active" : ""%> ><%= link_to("StoryBoard", storyboards_path)%></li>
            <%else%>
              <li role="presentation" class="active pull-right"><%= link_to("Projects", projects_path)%></li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class="col-md-3 pull-right">
        <div class="navbar-text navbar-right">
          <ul class="nav nav-pills">
            <li role="presentation">
              <%= link_to(current_user.name, profile_path)%>
            </li>
            <li role="presentation">
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
